TestAzureDatafactory007/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TestAzureDatafactory007"
		},
		"LS_SQLConnection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQLConnection'"
		},
		"LS_BlobConnection_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobConnectionString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTPFIles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "SftpLocation"
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTPOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SFTPRoot",
						"fileSystem": "refined"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "refined"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "daily-sales-20220502093152144-p3o768.json",
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"customer": {
							"type": "object",
							"properties": {
								"customerID": {
									"type": "string"
								},
								"bpID": {
									"type": "string"
								},
								"guest": {
									"type": "boolean"
								},
								"firstName": {
									"type": "string"
								},
								"lastName": {
									"type": "string"
								},
								"email": {
									"type": "string"
								},
								"clubFlag": {
									"type": "boolean"
								}
							}
						},
						"header": {
							"type": "object",
							"properties": {
								"orderID": {
									"type": "string"
								},
								"country": {
									"type": "string"
								},
								"date": {
									"type": "string"
								},
								"timestamp": {
									"type": "string"
								},
								"orderType": {
									"type": "string"
								},
								"eventType": {
									"type": "string"
								},
								"orderStatus": {
									"type": "string"
								},
								"totalPrice": {
									"type": "number"
								},
								"currency": {
									"type": "string"
								},
								"salesApplication": {
									"type": "string"
								},
								"deliveryCost": {
									"type": "number"
								},
								"locale": {
									"type": "string"
								},
								"ipAddress": {
									"type": "string"
								},
								"brandID": {
									"type": "string"
								},
								"splitOrderFlag": {
									"type": "boolean"
								},
								"fulfillmentStrategy": {
									"type": "string"
								},
								"checkoutType": {
									"type": "string"
								},
								"cartID": {
									"type": "string"
								},
								"businessModelID": {
									"type": "string"
								},
								"globalDiscountInfo": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"discountCode": {
												"type": "string"
											},
											"discountName": {
												"type": "string"
											},
											"discountValue": {
												"type": "number"
											},
											"couponType": {
												"type": "string"
											},
											"backendID": {
												"type": "string"
											},
											"promotionType": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"consignments": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"pickupPoint": {
										"type": "string"
									},
									"consignmentID": {
										"type": "string"
									},
									"warehouseID": {
										"type": "string"
									},
									"warehouseRanking": {
										"type": "string"
									},
									"selectedDeliveryMode": {
										"type": "string"
									},
									"deliveryFrom": {
										"type": "string"
									},
									"deliveryTo": {
										"type": "string"
									},
									"minDays": {
										"type": "integer"
									},
									"maxDays": {
										"type": "integer"
									},
									"description": {
										"type": "string"
									},
									"shippingAddress": {
										"type": "object",
										"properties": {
											"country": {
												"type": "string"
											},
											"deliveryMode": {
												"type": "string"
											},
											"deliveryType": {
												"type": "string"
											},
											"deliveryName": {
												"type": "string"
											},
											"pickUpPointOrClickAndCollectUID": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"streetName": {
												"type": "string"
											},
											"postalCode": {
												"type": "string"
											},
											"town": {
												"type": "string"
											},
											"phonePrefix": {
												"type": "string"
											},
											"phoneNumber": {
												"type": "string"
											}
										}
									},
									"entries": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"entryNumber": {
													"type": "string"
												},
												"variantCode": {
													"type": "string"
												},
												"seasonCode": {
													"type": "string"
												},
												"quantity": {
													"type": "integer"
												},
												"price": {
													"type": "number"
												},
												"priceType": {
													"type": "string"
												},
												"sourcingWarehouseType": {
													"type": "string"
												},
												"entryDiscountInfo": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"discountCode": {
																"type": "string"
															},
															"discountName": {
																"type": "string"
															},
															"discountValue": {
																"type": "number"
															},
															"couponType": {
																"type": "string"
															},
															"backendID": {
																"type": "string"
															},
															"promotionType": {
																"type": "string"
															}
														}
													}
												}
											}
										}
									}
								}
							}
						},
						"paymentDetails": {
							"type": "object",
							"properties": {
								"paymentTransactions": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"paymentProvider": {
												"type": "string"
											},
											"paymentMode": {
												"type": "string"
											},
											"cardBrand": {
												"type": "string"
											},
											"amount": {
												"type": "number"
											},
											"paymentFee": {
												"type": "number"
											},
											"reconciliationId": {
												"type": "string"
											},
											"cardSecurityCode": {
												"type": "string"
											},
											"transactionStatus": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_inputfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_outputfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "refined"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_outputhttp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": "ECDCData",
						"fileSystem": "refined"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_outputparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "CSVFiles",
						"fileSystem": "refined"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_outputsales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SalesData",
						"fileSystem": "refined"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BlobConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_BlobConnection_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQLConnection_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_Keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQLPWD"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFilesfromMultipleContainers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Scan the file path on your source storage store and get the container list.",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinarySourceFileStore",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.SourceFileFolder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.SourceFileDirectory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "BinarySourceFileStore",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.SourceFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.SourceFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinarySinkFileStore",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().parameters.DestinationFileFolder",
													"type": "Expression"
												},
												"directory": {
													"value": "@concat(pipeline().parameters.DestinationFileDirectory,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceFileFolder": {
						"type": "string",
						"defaultValue": "/"
					},
					"SourceFileDirectory": {
						"type": "string",
						"defaultValue": "/"
					},
					"DestinationFileFolder": {
						"type": "string",
						"defaultValue": "/"
					},
					"DestinationFileDirectory": {
						"type": "string",
						"defaultValue": "/"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-11T03:16:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SFTP_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data SFTP TO ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@formatDateTime(addDays(utcNow(),-7))",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@formatDateTime(utcNow())",
										"type": "Expression"
									},
									"wildcardFileName": "*.zip",
									"deleteFilesAfterCompletion": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SFTPFIles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SFTPOutput",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-12T14:55:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SFTPFIles')]",
				"[concat(variables('factoryId'), '/datasets/DS_SFTPOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQLDB_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n  *\nFROM\n  azuresqldb003.INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_InputTables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-13T03:00:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureDatabricksDeltaLakeSink",
								"importSettings": {
									"type": "AzureDatabricksDeltaLakeImportCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "LS_BlobConnection",
									"type": "LinkedServiceReference"
								},
								"path": "raw"
							},
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['header']['orderID']"
										},
										"sink": {
											"name": "OrderID",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['country']"
										},
										"sink": {
											"name": "country",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['date']"
										},
										"sink": {
											"name": "OrderCreatedDate",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['orderType']"
										},
										"sink": {
											"name": "orderType",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['orderStatus']"
										},
										"sink": {
											"name": "orderStatus",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['brandID']"
										},
										"sink": {
											"name": "brandID",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['splitOrderFlag']"
										},
										"sink": {
											"name": "splitOrderFlag",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['fulfillmentStrategy']"
										},
										"sink": {
											"name": "fulfillmentStrategy",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['header']['checkoutType']"
										},
										"sink": {
											"name": "checkoutType",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['consignments'][0]['pickupPoint']"
										},
										"sink": {
											"name": "ConsignmentID",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['consignments'][0]['consignmentID']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['warehouseID']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['warehouseRanking']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['selectedDeliveryMode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['deliveryFrom']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['deliveryTo']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['minDays']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['maxDays']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['description']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['country']"
										},
										"sink": {
											"name": "country",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['deliveryMode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['deliveryType']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['deliveryName']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['pickUpPointOrClickAndCollectUID']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['lastName']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['streetName']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['postalCode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['town']"
										},
										"sink": {
											"name": "town",
											"type": "string"
										}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['phonePrefix']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['shippingAddress']['phoneNumber']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryNumber']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['variantCode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['seasonCode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['quantity']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['price']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['priceType']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['sourcingWarehouseType']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['discountCode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['discountName']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['discountValue']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['couponType']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['backendID']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['consignments'][0]['entries'][0]['entryDiscountInfo'][0]['promotionType']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['paymentProvider']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['paymentMode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['cardBrand']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['amount']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['paymentFee']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['reconciliationId']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['cardSecurityCode']"
										},
										"sink": {}
									},
									{
										"source": {
											"path": "$['paymentDetails']['paymentTransactions'][0]['transactionStatus']"
										},
										"sink": {}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDatabricksDeltaLakeDataset1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T10:18:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"deleteFilesAfterCompletion": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-12T14:02:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "File_1.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_InputCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_inputcsvfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourcefiles": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().sourcefiles",
							"type": "Expression"
						},
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_inputdata002')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Exists.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobConnection')]"
			]
		}
	]
}